{
  "swagger": "2.0",
  "info": {
    "title": "User Management (System for Cross-domain Identity Management (SCIM))",
    "version": "1.0.0",
    "description": "Provides functions to administrate the Authorization and Trust Management service (XSUAA) of SAP BTP, Cloud Foundry environment. You can provision users from identity providers and manage roles and role collections. Use this API to manage shadow users; users the service provisions from your identity provider to the subaccount.\nFor more information, see [Switch Off Automatic Creation of Shadow Users](https://help.sap.com/docs/BTP/65de2977205c403bbc107264b8eccf4b/d8525671e8b14147b96ef497e1e1af80.html).\nThe System for Cross-domain Identity Management (SCIM) interfaces for users and groups supplement the relevant UAA [users](https://docs.cloudfoundry.org/api/uaa/version/74.0.0/index.html#users) and [groups](https://docs.cloudfoundry.org/api/uaa/version/74.0.0/index.html#groups) interfaces. Groups in the Authorization and Trust Management service are mapped to role collections. See also [SAP Note 2760424]( https://launchpad.support.sap.com/#/notes/2760424).\nTo access the API, use the SAP BTP command-line interface (btp CLI) to create API credentials. For more information, see [Get Access to the APIs](https://help.sap.com/docs/BTP/65de2977205c403bbc107264b8eccf4b/ebc9113a520e495ea5fb759b9a7929f2.html)."
  },
  "externalDocs": {
    "description": "Accessing Administration Using APIs of the SAP Authorization and Trust Management Service",
    "url": "https://help.sap.com/docs/BTP/65de2977205c403bbc107264b8eccf4b/dcb3bfd09c4b465e9d6f599485c5b6de.html?locale=en-US&state=PRODUCTION&version=Cloud"
  },
  "x-sap-api-type": "REST",
  "x-sap-shortText": "Enables you to manage shadow users and role collections of the XSUAA.",
  "host": "sandbox.api.sap.com",
  "schemes": [
    "https"
  ],
  "x-servers": [
    {
      "url": "https://api.authentication.{Landscape}.hana.ondemand.com",
      "description": "REST API endpoint for the user management API of the Authorization and Trust Management service.",
      "templates": {
        "Landscape": {
          "description": "Region host. For more information, see [Regions and API Endpoints Available for the Cloud Foundry Environment](https://help.sap.com/docs/BTP/65de2977205c403bbc107264b8eccf4b/350356d1dc314d3199dca15bd2ab9b0e.html#f344a57233d34199b2123b9620d0bb41.html)."
        }
      }
    }
  ],
  "basePath": "/SCPAuthtrustmgmt/platform",
  "tags": [
    {
      "name": "SCIM groups - role collections"
    },
    {
      "name": "SCIM users - shadow users"
    }
  ],
  "paths": {
    "/Groups": {
      "get": {
        "tags": [
          "SCIM groups - role collections"
        ],
        "summary": "Returns all role collections of the current account or directory.",
        "description": "Returns all role collections of the current global account, directory, or subaccount. The System for Cross-domain Identity Management (SCIM) interface for groups supplements the relevant UAA [groups](https://docs.cloudfoundry.org/api/uaa/version/74.0.0/index.html#groups) interface. Groups in the Authorization and Trust Management service are mapped to role collections.",
        "operationId": "getAllGroupsUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Specifies the maximum number of search results per page. The default value is 100. The service returns a maximum of 500 results.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "Specifies the index of the first resource in the current set of search results. Default value is 1.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Specifies the sort order for the query results either ascending or descending for the attribute defined by the sortBy parameter. The default value is ascending.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Enter displayName to sort the returned responses by this attribute. The sorting is not case-sensitive. Only the displayName value is supported. Otherwise resources are sorted by last_modified by default. The parameter sorts the results either ascending or descending as defined by the sortOrder parameter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The API returns the list of role collections.",
            "schema": {
              "$ref": "#/definitions/ScimGroups"
            }
          },
          "401": {
            "description": "Unauthorized - Access denied. Your authentication credentials have been refused."
          },
          "403": {
            "description": "Forbidden - Access denied. You don't have the authorizations required to access the resource.",
            "schema": {
              "$ref": "#/definitions/authorization.error"
            }
          },
          "404": {
            "description": "Not Found - Possible reasons, no role collections could be found that match your request.",
            "schema": {
              "$ref": "#/definitions/generic.error"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "SCIM groups - role collections"
        ],
        "summary": "Creates a group - role collection.",
        "description": "Creates a group - role collection with the properties specified in the body.",
        "operationId": "createGroupUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "group",
            "description": "group",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScimGroupPost"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created - The API created the group.",
            "schema": {
              "$ref": "#/definitions/ScimGroup"
            }
          },
          "400": {
            "description": "Bad Request - The request was poorly formed.",
            "schema": {
              "$ref": "#/definitions/generic.error"
            }
          },
          "401": {
            "description": "Unauthorized - Access denied. Your authentication credentials have been refused."
          },
          "403": {
            "description": "Forbidden - Access denied. You don't have the authorizations required to access the resource."
          },
          "409": {
            "description": "Conflict - The SCIM resource already exists.",
            "schema": {
              "$ref": "#/definitions/generic.error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/Groups/{Id}": {
      "get": {
        "tags": [
          "SCIM groups - role collections"
        ],
        "summary": "Returns a specific role collection.",
        "description": "Returns a role collection specified by the ID. The System for Cross-domain Identity Management (SCIM) interface for groups supplements the relevant UAA [groups](https://docs.cloudfoundry.org/api/uaa/version/74.0.0/index.html#groups) interface. Groups in the Authorization and Trust Management service are mapped to role collections.",
        "operationId": "getGroupUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The ID of the role collection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The API returned the role collection.",
            "schema": {
              "$ref": "#/definitions/ScimGroup"
            }
          },
          "401": {
            "description": "Unauthorized - Access denied. Your authentication credentials have been refused."
          },
          "403": {
            "description": "Forbidden - Access denied. You don't have the authorizations required to access the resource.",
            "schema": {
              "$ref": "#/definitions/authorization.error"
            }
          },
          "404": {
            "description": "Not Found - Possible reasons, no role collections could be found that match your request.",
            "schema": {
              "$ref": "#/definitions/generic.error"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "SCIM groups - role collections"
        ],
        "summary": "Updates or deletes the members or description of a role collection.",
        "description": "Adds or removes the members of an existing role collection specified by the ID. You can also update the description of the role collection. Provide an integer value in the If-Match field. The System for Cross-domain Identity Management (SCIM) interface for groups supplements the relevant UAA [groups](https://docs.cloudfoundry.org/api/uaa/version/74.0.0/index.html#groups) interface.",
        "operationId": "updateGroupUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "If-Match",
            "in": "header",
            "description": "Enter an integer. Otherwise, this field has no effect.",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "group",
            "description": "The content of the role collection object. Only the description and member attributes are evaluated. For the member, specify type USER and the ID of the user as the value to identify the user to assign. Use the /Users endpoint to get the ID of the user. Any members not listed in the JSON you submit are removed from the role collection assignment.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScimGroup"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "The ID of the role collection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The API updated the role collection.",
            "schema": {
              "$ref": "#/definitions/ScimGroup"
            }
          },
          "201": {
            "description": "Created - The API updated the role collection."
          },
          "400": {
            "description": "Bad Request - The request was poorly formed. Possible reasons, a bad If-Match value or a poorly formed JSON in the body.",
            "schema": {
              "$ref": "#/definitions/generic.error"
            }
          },
          "401": {
            "description": "Unauthorized - Access denied. Your authentication credentials have been refused."
          },
          "403": {
            "description": "Forbidden - Access denied. You don't have the authorizations required to access the resource.",
            "schema": {
              "$ref": "#/definitions/authorization.error"
            }
          },
          "404": {
            "description": "Not Found - Possible reasons, no role collection could be found that matches the request.",
            "schema": {
              "$ref": "#/definitions/generic.error"
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "SCIM groups - role collections"
        ],
        "summary": "Updates members or description of a role collection.",
        "description": "Adds or removes members from an existing role collection specified by the role collection ID. You can also update the description of the role collection. Provide an integer in the If-Match field. The System for Cross-domain Identity Management (SCIM) interface for groups supplements the relevant UAA [groups](https://docs.cloudfoundry.org/api/uaa/version/74.0.0/index.html#groups) interface.",
        "operationId": "patchGroupUsingPATCH",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "If-Match",
            "in": "header",
            "description": "Enter an integer. Otherwise, this field has no effect.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Id",
            "in": "path",
            "description": "The ID of the role collection.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "patch",
            "description": "The content of the role collection to patch. You can only change the description of the role collection and add or remove members.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScimGroupPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The role collection was updated.",
            "schema": {
              "$ref": "#/definitions/ScimGroupPatch"
            }
          },
          "204": {
            "description": "No Content - The role collection doesn't exist."
          },
          "400": {
            "description": "Bad Request - The request was poorly formed. Possible reasons, a bad If-Match value or poorly for JSON in the body.",
            "schema": {
              "$ref": "#/definitions/generic.error"
            }
          },
          "401": {
            "description": "Unauthorized - Access denied. Your authentication credentials have been refused."
          },
          "403": {
            "description": "Forbidden - Access denied. You don't have the authorizations required to access the resource.",
            "schema": {
              "$ref": "#/definitions/authorization.error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/Users": {
      "get": {
        "tags": [
          "SCIM users - shadow users"
        ],
        "summary": "Returns all users of the current account or directory.",
        "description": "Returns all shadow users of the current global account, directory, or subaccount. By default, the system creates shadow users during authentication. You can disable automatic creation of shadow users. When you use a system to provision identities, we recommend that you switch off automatic creation of shadow users for all identity providers. <br/>For more information, see [Switch Off Automatic Creation of Shadow Users](https://help.sap.com/docs/BTP/65de2977205c403bbc107264b8eccf4b/d8525671e8b14147b96ef497e1e1af80.html). <br/>The System for Cross-domain Identity Management (SCIM) interface for users supplements the relevant UAA [users](https://docs.cloudfoundry.org/api/uaa/version/74.0.0/index.html#users) interface.",
        "operationId": "getAllUsersUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Specifies the maximum number of search results per page. The default value is 100. The service returns a maximum of 500 results.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "Specifies the index of the first response page in the current set of search results.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Specifies the sort order for the query results either ascending or descending for the attribute defined by the sortBy parameter. The default value is ascending.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Specifies the attribute to sort the returned responses. Sorts the results either ascending or descending as defined by the sortOrder parameter.",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "\n'Specifies a filter query applied to an attribute of a user. For string and DateTime attributes,  put the operator value in single quotes.\nSupported operators:\n| Operator | Behavior |\n|---- | ------------- |\n| eq | The attribute and operator values must be identical for  a match.|\n| co | The attribute must contain the operator values for a match.|\n| sw | The attribute must start with the operator values for a match.|\n| pr | The attribute must be present (exist) on the resource for a match, regardless of the  attribute\u2019s value. This operator does not require an operator value.|\n| gt | If the attribute value is greater than the operator value, a match occurs.  The actual comparison depends on the attribute type. For string attribute types, this is a lexicographical comparison. For DateTime types, it is a chronological  comparison. For integer attributes, it is a comparison by numeric value.|\n| ge | If the attribute value is greater than or equal to the operator value, a match occurs. The actual comparison depends on the attribute type. For string attribute types, this is a lexicographical comparison. For DateTime types, it is a chronological  comparison. For integer attributes, it is a comparison by numeric value.|\n| lt | If the attribute value is less than the operator value, a match occurs. The actual comparison depends on the attribute type. For string attribute types, this is a lexicographical comparison. For DateTime types, it is a chronological  comparison. For integer attributes, it is a comparison by numeric value.|\n| le | If the attribute value is less than or equal to the operator value, a match occurs. The actual comparison depends on the attribute type. For string attribute types, this is a lexicographical comparison. For DateTime types, it is a chronological  comparison. For integer attributes, it is a comparison by numeric value.|\n \n## DateTime Types\nFor DateTime types, the system supports ISO 8601 and UNIX formats.\nUNIX is an integer format and does not require special handling. ISO is a string format.  Include DateTime entries in single quotes, except for with the operators co and sw.\n### Supported User Search Attributes:\n  * active\n  * created\n  * emails.value\n  * external_id\n  * familyname\n  * givenname\n  * groups.display\n  * id\n  * identity_zone_id\n  * last_logon_success_time\n  * lastmodified\n  * meta.created\n  * meta.lastmodified\n  * meta.location\n  * meta.resourcetype\n  * meta.version\n  * name.familyname\n  * name.givenname\n  * origin\n  * passwd_change_required\n  * passwd_lastmodified\n  * phonenumber\n  * phonenumbers.value\n  * previous_logon_success_time\n  * username\n  * verified\n  * version\n  '\n",
            "required": false,
            "type": "string",
            "x-example": "givenName eq 'Donna'"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The API returns the list of users.",
            "schema": {
              "$ref": "#/definitions/ScimUsers"
            }
          },
          "400": {
            "description": "Bad Request - The request was poorly formed.",
            "schema": {
              "$ref": "#/definitions/generic.error"
            }
          },
          "401": {
            "description": "Unauthorized - Access denied. Your authentication credentials have been refused."
          },
          "403": {
            "description": "Forbidden - Access denied. You don't have the authorizations required to access the resource.",
            "schema": {
              "$ref": "#/definitions/authorization.error"
            }
          },
          "404": {
            "description": "Not Found - Possible reasons, no users could be found that match your request.",
            "schema": {
              "$ref": "#/definitions/generic.error"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "SCIM users - shadow users"
        ],
        "summary": "Creates a user.",
        "description": "Creates a user with the properties specified in the body. **To create a group membership (assign role collections), use the endpoint [/Groups/{Id}/members](https://docs.cloudfoundry.org/api/uaa/version/74.4.0/index.html#add-member)**.",
        "operationId": "createUserUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "user",
            "description": "user",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScimUserPOST_PUT"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created - The API created the user.",
            "schema": {
              "$ref": "#/definitions/ScimUserPOST_PUT"
            }
          },
          "400": {
            "description": "Bad Request - The request was poorly formed.",
            "schema": {
              "$ref": "#/definitions/generic.error"
            }
          },
          "401": {
            "description": "Unauthorized - Access denied. Your authentication credentials have been refused."
          },
          "403": {
            "description": "Forbidden - Access denied. You don't have the authorizations required to access the resource."
          },
          "409": {
            "description": "Conflict - The SCIM resource already exists.",
            "schema": {
              "$ref": "#/definitions/generic.error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/Users/{Id}": {
      "get": {
        "tags": [
          "SCIM users - shadow users"
        ],
        "summary": "Returns a specific user.",
        "description": "Returns a user specified by the user ID (The ID of the user). By default, the system creates shadow users during authentication. You can disable automatic creation of shadow users. When you use a system to provision identities, we recommend that you switch off automatic creation of shadow users for all identity providers. <br/>For more information, see [Switch Off Automatic Creation of Shadow Users](https://help.sap.com/docs/BTP/65de2977205c403bbc107264b8eccf4b/d8525671e8b14147b96ef497e1e1af80.html). <br/>The System for Cross-domain Identity Management (SCIM) interface for users supplements the relevant UAA [users](https://docs.cloudfoundry.org/api/uaa/version/74.0.0/index.html#users) interface.",
        "operationId": "getUserUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The ID of the user.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The API returned the specified user.",
            "schema": {
              "$ref": "#/definitions/ScimUser"
            }
          },
          "401": {
            "description": "Unauthorized - Access denied. Your authentication credentials have been refused."
          },
          "403": {
            "description": "Forbidden - Access denied. You don't have the authorizations required to access the resource.",
            "schema": {
              "$ref": "#/definitions/authorization.error"
            }
          },
          "404": {
            "description": "Not Found - Possible reasons, no users could be found that match your request.",
            "schema": {
              "$ref": "#/definitions/generic.error"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "SCIM users - shadow users"
        ],
        "summary": "Updates the entire user.",
        "description": "Updates all fields of a user specified by the user ID. **To update a group membership (assign role collections), use the endpoint [/Groups/{Id}/members](https://docs.cloudfoundry.org/api/uaa/version/74.4.0/index.html#add-member)**. By default, the system creates shadow users during authentication. You can disable automatic creation of shadow users. When you use a system to provision identities, we recommend that you switch off automatic creation of shadow users for all identity providers. <br/>For more information, see [Switch Off Automatic Creation of Shadow Users](https://help.sap.com/docs/BTP/65de2977205c403bbc107264b8eccf4b/d8525671e8b14147b96ef497e1e1af80.html). <br/>If automatic creation is switched off, a user can't log in until the administrator creates a shadow user for the user with the PUT method. The System for Cross-domain Identity Management (SCIM) interface for users supplements the relevant UAA [users](https://docs.cloudfoundry.org/api/uaa/version/74.0.0/index.html#users) interface.",
        "operationId": "updateUserUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "If-Match",
            "in": "header",
            "description": "Enter the current version of the user as a whole number.",
            "required": false,
            "type": "string",
            "default": "NaN"
          },
          {
            "in": "body",
            "name": "user",
            "description": "The content of the user.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScimUserPOST_PUT"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "The ID of the user.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The API updated the user.",
            "schema": {
              "$ref": "#/definitions/ScimUserPOST_PUT"
            }
          },
          "201": {
            "description": "Created - The API updated the user."
          },
          "400": {
            "description": "Bad Request - The request was poorly formed. Possible reasons, the wrong ID was submitted in the URL.",
            "schema": {
              "$ref": "#/definitions/generic.error"
            }
          },
          "401": {
            "description": "Unauthorized - Access denied. Your authentication credentials have been refused."
          },
          "403": {
            "description": "Forbidden - Access denied. You don't have the authorizations required to access the resource.",
            "schema": {
              "$ref": "#/definitions/authorization.error"
            }
          },
          "404": {
            "description": "Not Found - Possible reasons, no users could be found that match your request.",
            "schema": {
              "$ref": "#/definitions/generic.error"
            }
          },
          "409": {
            "description": "Conflict - You attempted to update the wrong version of the object. Check the value of If-Match.",
            "schema": {
              "$ref": "#/definitions/generic.error"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "SCIM users - shadow users"
        ],
        "summary": "Deletes a specific user.",
        "description": "Deletes a user specified by the user ID. By default, the system creates shadow users during authentication. You can disable automatic creation of shadow users. When you use a system to provision identities, we recommend that you switch off automatic creation of shadow users for all identity providers. <br/>For more information, see [Switch Off Automatic Creation of Shadow Users](https://help.sap.com/docs/BTP/65de2977205c403bbc107264b8eccf4b/d8525671e8b14147b96ef497e1e1af80.html). <br/>If automatic creation is switched off, a user can't log in until the administrator creates a shadow user for the user. Data privacy regulations or policies may require you to delete shadow users, for example, when the user has left your organization. The System for Cross-domain Identity Management (SCIM) interface for users supplements the relevant UAA [users](https://docs.cloudfoundry.org/api/uaa/version/74.0.0/index.html#users) interface.",
        "operationId": "deleteUserUsingDELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "If-Match",
            "in": "header",
            "description": "Enter the current version of the user as a whole number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Id",
            "in": "path",
            "description": "The ID of the user.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The API deleted the user.",
            "schema": {
              "$ref": "#/definitions/ScimUser"
            }
          },
          "204": {
            "description": "No Content - The user doesn't exist."
          },
          "401": {
            "description": "Unauthorized - Access denied. Your authentication credentials have been refused."
          },
          "403": {
            "description": "Forbidden - Access denied. You don't have the authorizations required to access the resource.",
            "schema": {
              "$ref": "#/definitions/authorization.error"
            }
          },
          "404": {
            "description": "Not Found - Possible reasons, no users could be found that match your request.",
            "schema": {
              "$ref": "#/definitions/generic.error"
            }
          },
          "405": {
            "description": "Method Not Allowed - You must provide a user ID in your request.",
            "schema": {
              "$ref": "#/definitions/method.error"
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "SCIM users - shadow users"
        ],
        "summary": "Updates specific fields of a user.",
        "description": "Updates only the specified fields of a user specified by the user ID. **To update a group membership (assign role collections), use the endpoint [/Groups/{Id}/members](https://docs.cloudfoundry.org/api/uaa/version/74.4.0/index.html#add-member)**. By default, the system creates shadow users during authentication. You can disable automatic creation of shadow users. When you use a system to provision identities, we recommend that you switch off automatic creation of shadow users for all identity providers. <br/>For more information, see [Switch Off Automatic Creation of Shadow Users](https://help.sap.com/docs/BTP/65de2977205c403bbc107264b8eccf4b/d8525671e8b14147b96ef497e1e1af80.html). <br/>The System for Cross-domain Identity Management (SCIM) interface for users supplements the relevant UAA [users](https://docs.cloudfoundry.org/api/uaa/version/74.0.0/index.html#users) interface.",
        "operationId": "patchUserUsingPATCH",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "If-Match",
            "in": "header",
            "description": "Enter the current version of the user as a whole number.",
            "required": false,
            "type": "string",
            "default": "NaN"
          },
          {
            "in": "body",
            "name": "patch",
            "description": "The content of the user to patch.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScimUserPOST_PUT"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "The id parameter of the user.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The API updated the user.",
            "schema": {
              "$ref": "#/definitions/ScimUser"
            }
          },
          "204": {
            "description": "No Content - The user doesn't exist."
          },
          "401": {
            "description": "Unauthorized - Access denied. Your authentication credentials have been refused."
          },
          "403": {
            "description": "Forbidden - Access denied. You don't have the authorizations required to access the resource.",
            "schema": {
              "$ref": "#/definitions/authorization.error"
            }
          },
          "404": {
            "description": "Not Found - Possible reasons, no users could be found that match your request.",
            "schema": {
              "$ref": "#/definitions/generic.error"
            }
          },
          "409": {
            "description": "Conflict - You attempted to update the wrong version of the object. Check the value of If-Match.",
            "schema": {
              "$ref": "#/definitions/generic.error"
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "securityDefinitions": {
    "apiaccess": {
      "type": "oauth2",
      "description": "To use this API, get the OAuth client credentials (client ID and secret) with either the cockpit or command line interface. Pass these credentials to the token endpoint to get the access token.",
      "tokenUrl": "https://{Subdomain}.authentication.{Landscape}.hana.ondemand.com/oauth/token?grant_type=client_credentials&response_type=token",
      "flow": "application",
      "scopes": {
        "uaa.resource": "Enables access to UAA resources.",
        "xs_authorization.read": "Read authorization entities.",
        "xs_authorization.write": "Write authorization entities.",
        "xs_idp.read": "Read identity provider entities.",
        "xs_idp.write": "Write identity provider entities.",
        "xs_user.read": "Read user entities.",
        "xs_user.write": "Write user entities."
      }
    }
  },
  "security": [
    {
      "apiaccess": [
        "uaa.resource",
        "xs_authorization.read",
        "xs_authorization.write",
        "xs_idp.read",
        "xs_idp.write",
        "xs_user.read",
        "xs_user.write"
      ]
    }
  ],
  "definitions": {
    "Approval": {
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string",
          "example": "cloud_controller",
          "description": "The client id on the approval. Represents the application this approval or denial was for."
        },
        "expiresAt": {
          "type": "string",
          "format": "date-time"
        },
        "lastUpdatedAt": {
          "type": "string",
          "format": "date-time"
        },
        "scope": {
          "type": "string",
          "example": "cloud_controller.write"
        },
        "status": {
          "type": "string",
          "enum": [
            "APPROVED",
            "DENIED"
          ]
        },
        "userId": {
          "type": "string",
          "example": "ef4772b9-3295-4d12-af66-ef07fce21227",
          "description": "The ID of the user."
        }
      },
      "title": "Approval"
    },
    "authorization.error": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string"
        },
        "error_description": {
          "type": "string"
        },
        "scope": {
          "type": "string"
        }
      }
    },
    "Email": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "value": {
          "type": "string",
          "example": "john.miller@example.com"
        },
        "primary": {
          "type": "boolean",
          "description": "Set to true if this is the user's primary email address."
        }
      },
      "title": "Email"
    },
    "generic.error": {
      "type": "object",
      "properties": {
        "error_description": {
          "type": "string"
        },
        "error": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "Group": {
      "type": "object",
      "properties": {
        "display": {
          "type": "string",
          "example": "Administrators"
        },
        "value": {
          "type": "string",
          "example": "Administrators"
        },
        "type": {
          "type": "string",
          "enum": [
            "DIRECT",
            "INDIRECT"
          ],
          "example": "DIRECT",
          "description": "Membership type. DIRECT means the user is directly associated with the group. INDIRECT means that the membership is derived from a nested group."
        }
      },
      "title": "Group"
    },
    "method.error": {
      "type": "object",
      "properties": {
        "timestamp": {
          "type": "string"
        },
        "status": {
          "type": "integer"
        },
        "error": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "path": {
          "type": "string"
        }
      }
    },
    "Name": {
      "type": "object",
      "properties": {
        "familyName": {
          "type": "string",
          "example": "Miller"
        },
        "givenName": {
          "type": "string",
          "example": "John"
        },
        "honorificPrefix": {
          "type": "string"
        },
        "honorificSuffix": {
          "type": "string"
        },
        "formatted": {
          "type": "string"
        },
        "middleName": {
          "type": "string"
        }
      },
      "title": "Name"
    },
    "PhoneNumber": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "example": "123456789"
        }
      },
      "title": "PhoneNumber"
    },
    "ScimGroups": {
      "type": "object",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ScimGroup"
          }
        },
        "startIndex": {
          "type": "integer",
          "default": 1,
          "description": "Specifies the index of the first resource in the current set of search results."
        },
        "itemsPerPage": {
          "type": "integer",
          "default": 100,
          "description": "Specifies the maximum number of search results returned per response page."
        },
        "totalResults": {
          "type": "integer",
          "example": 235,
          "description": "Specifies the total number of results matching the query. The service returns a maximum of 500 results."
        },
        "schemas": {
          "type": "array",
          "items": {
            "type": "string",
            "example": "urn:scim:schemas:core:1.0"
          }
        }
      }
    },
    "ScimGroup": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The group ID of a SCIM group.",
          "example": "Administrators"
        },
        "meta": {
          "$ref": "#/definitions/ScimMeta"
        },
        "displayName": {
          "type": "string",
          "example": "Administrators"
        },
        "zoneId": {
          "type": "string",
          "example": "5cef7d08-471e-47c4-9695-ad5ef44b4355"
        },
        "description": {
          "type": "string",
          "example": "This role collection includes the administrator and viewer role."
        },
        "members": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ScimGroupMember"
          }
        },
        "schemas": {
          "type": "array",
          "items": {
            "type": "string",
            "example": "urn:scim:schemas:core:1.0"
          }
        }
      },
      "title": "ScimGroup"
    },
    "ScimGroupMember": {
      "type": "object",
      "properties": {
        "origin": {
          "type": "string",
          "example": "sap.default",
          "description": "The identity provider hosting the users. For the default identity provider, use sap.default. Subaccounts created before October 2020 return ldap as the default identity provider. The system accepts both sap.default and ldap for the default identity provider, but returns sap.default or ldap depending on when the subaccount was created."
        },
        "type": {
          "type": "string",
          "enum": [
            "USER"
          ],
          "example": "USER"
        },
        "value": {
          "type": "string",
          "example": "ef4772b9-3295-4d12-af66-ef07fce21227",
          "description": "The ID of a specific user. User IDs can be found using the \"/Users\" endpoint."
        }
      },
      "title": "ScimGroupMember"
    },
    "ScimMeta": {
      "type": "object",
      "properties": {
        "attributes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "example": 1
        },
        "created": {
          "type": "string",
          "format": "date-time"
        },
        "lastModified": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "ScimMeta"
    },
    "ScimUsers": {
      "type": "object",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ScimUser"
          }
        },
        "startIndex": {
          "type": "integer",
          "default": 1,
          "description": "Specifies the index of the first response page in the current set of search results."
        },
        "itemsPerPage": {
          "type": "integer",
          "default": 100,
          "description": "Specifies the maximum number of search results returned per response page."
        },
        "totalResults": {
          "type": "integer",
          "example": 235,
          "description": "Specifies the total number of results matching the query. The service returns a maximum of 500 results."
        },
        "schemas": {
          "type": "array",
          "items": {
            "type": "string",
            "example": "urn:scim:schemas:core:1.0"
          }
        }
      }
    },
    "ScimUser": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "example": "ef4772b9-3295-4d12-af66-ef07fce21227",
          "description": "The user ID of a SCIM user."
        },
        "externalId": {
          "type": "string",
          "example": "D123456"
        },
        "meta": {
          "$ref": "#/definitions/ScimMeta"
        },
        "userName": {
          "type": "string",
          "example": "john.miller@example.com"
        },
        "name": {
          "$ref": "#/definitions/Name"
        },
        "emails": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Email"
          }
        },
        "groups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Group"
          }
        },
        "approvals": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Approval"
          },
          "description": "A list of approval decisions made by this user. Approvals record the user's explicit approval or rejection for an application's request for delegated permissions."
        },
        "active": {
          "type": "boolean"
        },
        "verified": {
          "type": "boolean"
        },
        "origin": {
          "type": "string",
          "example": "sap.default",
          "description": "The identity provider hosting the users. For the default identity provider, use sap.default. Subaccounts created before October 2020 return ldap as the default identity provider. The system accepts both sap.default and ldap for the default identity provider, but returns sap.default or ldap depending on when the subaccount was created."
        },
        "zoneId": {
          "type": "string",
          "example": "5cef7d08-471e-47c4-9695-ad5ef44b4355"
        },
        "displayName": {
          "type": "string"
        },
        "locale": {
          "type": "string"
        },
        "nickName": {
          "type": "string"
        },
        "passwordLastModified": {
          "type": "string",
          "format": "date-time"
        },
        "previousLogonTime": {
          "type": "integer",
          "format": "int64",
          "example": 1588056537011
        },
        "lastLogonTime": {
          "type": "integer",
          "format": "int64",
          "example": 1589284136890
        },
        "schemas": {
          "type": "array",
          "items": {
            "type": "string",
            "example": "urn:scim:schemas:core:1.0"
          }
        },
        "phoneNumbers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PhoneNumber"
          }
        },
        "profileUrl": {
          "type": "string"
        },
        "salt": {
          "type": "string"
        },
        "timezone": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "userType": {
          "type": "string"
        }
      },
      "title": "ScimUser"
    },
    "ScimUserPOST_PUT": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "example": "ef4772b9-3295-4d12-af66-ef07fce21227",
          "description": "The user ID of a SCIM user."
        },
        "externalId": {
          "type": "string",
          "example": "D123456"
        },
        "meta": {
          "$ref": "#/definitions/ScimMeta"
        },
        "userName": {
          "type": "string",
          "example": "john.miller@example.com"
        },
        "name": {
          "$ref": "#/definitions/Name"
        },
        "emails": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Email"
          }
        },
        "approvals": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Approval"
          },
          "description": "A list of approval decisions made by this user. Approvals record the user's explicit approval or rejection for an application's request for delegated permissions."
        },
        "active": {
          "type": "boolean"
        },
        "verified": {
          "type": "boolean"
        },
        "origin": {
          "type": "string",
          "example": "sap.default",
          "description": "The identity provider hosting the users. For the default identity provider, use sap.default. Subaccounts created before October 2020 return ldap as the default identity provider. The system accepts both sap.default and ldap for the default identity provider, but returns sap.default or ldap depending on when the subaccount was created."
        },
        "zoneId": {
          "type": "string",
          "example": "5cef7d08-471e-47c4-9695-ad5ef44b4355"
        },
        "displayName": {
          "type": "string"
        },
        "locale": {
          "type": "string"
        },
        "nickName": {
          "type": "string"
        },
        "passwordLastModified": {
          "type": "string",
          "format": "date-time"
        },
        "previousLogonTime": {
          "type": "integer",
          "format": "int64",
          "example": 1588056537011
        },
        "lastLogonTime": {
          "type": "integer",
          "format": "int64",
          "example": 1589284136890
        },
        "schemas": {
          "type": "array",
          "items": {
            "type": "string",
            "example": "urn:scim:schemas:core:1.0"
          }
        },
        "phoneNumbers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PhoneNumber"
          }
        },
        "profileUrl": {
          "type": "string"
        },
        "salt": {
          "type": "string"
        },
        "timezone": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "userType": {
          "type": "string"
        }
      },
      "title": "ScimUserPOST_PUT"
    },
    "ScimGroupPatch": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The group ID of a SCIM group.",
          "example": "Administrators"
        },
        "meta": {
          "$ref": "#/definitions/ScimMeta"
        },
        "displayName": {
          "type": "string",
          "example": "Administrators"
        },
        "zoneId": {
          "type": "string",
          "example": "5cef7d08-471e-47c4-9695-ad5ef44b4355"
        },
        "description": {
          "type": "string",
          "example": "This role collection includes the administrator and viewer role."
        },
        "members": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ScimGroupMemberPatch"
          }
        }
      },
      "title": "ScimGroupPatch"
    },
    "ScimGroupMemberPatch": {
      "type": "object",
      "properties": {
        "origin": {
          "type": "string",
          "example": "sap.default",
          "description": "The identity provider hosting the user. For the default identity provider, use sap.default. Subaccounts created before October 2020 return ldap as the default identity provider. The system accepts both sap.default and ldap for the default identity provider, but returns sap.default or ldap depending on when the subaccount was created."
        },
        "type": {
          "type": "string",
          "enum": [
            "USER"
          ],
          "example": "USER"
        },
        "value": {
          "type": "string",
          "example": "ef4772b9-3295-4d12-af66-ef07fce21227",
          "description": "The ID of a specific user. User IDs can be found using the \"/Users\" endpoint."
        },
        "operation": {
          "type": "string",
          "example": "delete",
          "description": "Use this parameter to add or remove users from a group.",
          "enum": [
            "delete",
            "create"
          ]
        }
      },
      "title": "ScimGroupMemberPatch"
    },
    "ScimGroupPost": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The group ID of a SCIM group.",
          "example": "Administrators"
        },
        "displayName": {
          "type": "string",
          "example": "Administrators"
        },
        "description": {
          "type": "string",
          "example": "This role collection includes the administrator and viewer role."
        },
        "members": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ScimGroupMemberPatch"
          }
        }
      },
      "title": "ScimGroupPost"
    }
  }
}